//IE11 specific styles
@mixin target-metro {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'karlaregular';
  font-size:16px;
}

h1, h2, h3, h4 {
  font-family: 'ms_gloriola_ii_std_semibold';
  line-height: 1.1;
}

h1 {
  font-size: 3.375rem;
  text-align:center;
}

h2 {
  font-size: 1.875rem;
  text-align: center;
}

p {
  padding: 1.25rem 0px;
}

footer {
  background: #F2F2F2;
  padding: 5rem 0;
  section {
    border-top:2px solid #D0D0D0;
    border-bottom:2px solid #D0D0D0;
    padding: 2.8125rem 0;
    text-align: center;
    display: flex;
    color:#333;
    margin:auto;
    max-width:58rem;
    align-items: center;
    justify-content: center;
  }
  a {
    color: #333;
    margin: auto 1.25rem;
    &:hover {
      text-decoration: underline;
    }
  }
}

// Specific font classes
.g-semi-bold {
  font-family: 'ms_gloriola_ii_std_semibold';
  font-weight:400;
}


// Top nav
.nav {
  position: relative;
  margin-bottom:3px;
  li {
    cursor: pointer;
    border-bottom:7px solid #fff;
    padding:0 1rem 1rem 1rem;
    position: relative;
    &:hover {
      border-bottom:7px solid #005AA4;
    }
  }
}

.subnav {
  position: relative;
  width: 100%;
  &.fixed {
    position: fixed;
    top: 0;
  }
  nav {
    height:5.25rem;
    background:#005AA4;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    > div {
      height:4rem;
      border-bottom:1px solid #fff;
      width:275px;
      display: flex;
      align-items: center;
      padding-left:2.5rem;
      span:after {
        content:'';
        background-image: url(../img/nav-arrow.png);
        background-repeat: no-repeat;
        width:20px;
        height: 9px;
        display: inline-block;
        margin-left: 1.25rem;
      }
    }
    ul {
      height:4rem;
      align-items: stretch;
    }
    li {
      cursor:pointer;
      position: relative;
      padding: 0 1rem;
      line-height: 4rem;
      aside {
        position: absolute;
        margin-left:-1rem;
        width: 27rem;
        background: #fff;
        color: #000;
        display: none;
        padding: 2rem;
        line-height: 1.2;
        box-shadow: 2px 2px 2px #000;
        &.right {
          transform:translate(-85%,0);
          margin-left: 0;
        }
      }
      &:hover {
        background: #002B51;
        aside {
          display: block;
        }
      }
    }
  }
}

.inverse {
  background: #F2F2F2;
  padding: 5em 0;
}

.home-banner {
  height:400px;
  background: #9B9B9B;
  width:100%;
}

.home-steps {
  font-size: 6.25rem;
  font-family: 'ms_gloriola_ii_displaythin';
  margin-bottom: 1.25rem;
}

// Back to top
.btt {
  display: block;
  position: fixed;
  bottom: 2%;
  right: 2%;
  font-size: 0.75rem;
  text-align: center;
  cursor:pointer;
  z-index:1;
}

.list {
  > *:first-of-type {
    border-top:0
  }
  > * {
    border-top:1px solid #9B9B9B;
    font-family:'karlabold';
    font-weight:400;
  }
}