//IE11 specific styles
@mixin target-metro {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'karlaregular';
  font-size:16px;
}

h1, h2, h3, h4 {
  font-family: 'ms_gloriola_ii_std_semibold';
  line-height: 1.1;
}

h1 {
  font-size: 3.375rem;
  text-align:center;
}

h2 {
  font-size: 1.875rem;
  text-align: center;
}

p {
  padding: 1.25rem 0px;
}

// Specific font classes
.g-semi-bold {
  font-family: 'ms_gloriola_ii_std_semibold';
  font-weight:400;
}


// Top nav
.nav {
  position: relative;
  li {
    cursor: pointer;
    border-bottom:7px solid #fff;
    padding:0 1rem 1rem 1rem;
    position: relative;
    &:hover {
      border-bottom:7px solid #007BC8
    }
  }
}

.subnav {
  position: relative;
  width: 100%;
  nav {
    height:4rem;
    background:#616161;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    ul {
      height:100%;
      align-items: stretch;
    }
    li {
      cursor:pointer;
      position: relative;
      padding: 0 1rem;
      line-height: 4rem;
      aside {
        position: absolute;
        margin-left:-1rem;
        width: 27rem;
        background: #fff;
        color: #000;
        display: none;
        padding: 2rem;
        line-height: 1.2;
        box-shadow: 2px 2px 2px #000;
        &.right {
          transform:translate(-85%,0);
          margin-left: 0;
        }
      }
      &:hover {
        background: #424141;
        aside {
          display: block;
        }
      }
    }
  }
}

.home-banner {
  height:400px;
  background: #9B9B9B;
  width:100%;
}

.home-steps {
  font-size: 6.25rem;
  font-family: 'ms_gloriola_ii_displaythin';
  margin-bottom: 1.25rem;
}